<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CheckMapper">
	
	<!--表名 -->
	<sql id="tableName">
		PC_CHECK
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
	    CHECK_ID,
		PASSWORDSET,	
		PASSWORDUP,	
		SCREEN,	
		VIRUS_CHECK,	
		VIRUS_ISOLATION,	
		WINDOWS_ACTIVE,	
		UPDATE_CONFIRM,	
		OFFICE_ACTIVE,	
		NEWVIRUS_UPLOAD,	
		WHITE_LIST,	
		PORT_FASTEN,	
		USB_DISABLE,	
		FILEEXCHANGE_DISABLE,	
		C_FOMAT,	
		C_RESTORY,	
		GC_CLEAR,	
		NO_EXCEL,	
		REMARK,
		PC_ID,		
		ENTRY_DATE,
		EXIT_DATE,
		CHECK_TYPE,
		FLAG
		
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CHECK_ID},
		#{PASSWORDSET},	
		#{PASSWORDUP},	
		#{SCREEN},	
		#{VIRUS_CHECK},	
		#{VIRUS_ISOLATION},	
		#{WINDOWS_ACTIVE},	
		#{UPDATE_CONFIRM},	
		#{OFFICE_ACTIVE},	
		#{NEWVIRUS_UPLOAD},	
		#{WHITE_LIST},	
		#{PORT_FASTEN},	
		#{USB_DISABLE},	
		#{FILEEXCHANGE_DISABLE},	
		#{C_FOMAT},	
		#{C_RESTORY},	
		#{GC_CLEAR},	
		#{NO_EXCEL},	
		#{REMARK},
		#{PC_ID},		
		#{ENTRY_DATE},
		#{EXIT_DATE},
		#{CHECK_TYPE},
		#{FLAG}
	</sql>
	
	<!-- 新增-->

    <insert id="save" parameterType="pd">
     insert into 
    <include refid="tableName"/>
     ( 
    <include refid="Field"/>
     ) values ( 
    <include refid="FieldValue"/>
     ) 
    </insert>

    <!-- 删除-->
   <!--  <delete id="delete" parameterType="pd">
      from 
    <include refid="tableName"/>
     where CHECK_ID= #{CHECK_ID} 
    </delete> -->
    
  <update id="delete" parameterType="pd">
     update 
    <include refid="tableName"/>
     set 
     FLAG = "1"
     where 
     CHECK_ID= #{CHECK_ID} 
    </update>
    
    <update id="delcheck" parameterType="pd">
     update 
    <include refid="tableName"/>
     set 
     FLAG = "1"
     where 
     PC_ID= #{PRO_ID} 
    </update>
	


    <!-- 修改 -->

    <update id="edit" parameterType="pd">
     update 
    <include refid="tableName"/>
     set PASSWORDSET = #{PASSWORDSET},
     PASSWORDUP = #{PASSWORDUP}, 
     SCREEN = #{SCREEN}, 
     VIRUS_CHECK = #{VIRUS_CHECK}, 
     VIRUS_ISOLATION = #{VIRUS_ISOLATION}, 
     WINDOWS_ACTIVE = #{WINDOWS_ACTIVE}, 
     UPDATE_CONFIRM = #{UPDATE_CONFIRM}, 
     OFFICE_ACTIVE = #{OFFICE_ACTIVE}, 
     NEWVIRUS_UPLOAD = #{NEWVIRUS_UPLOAD}, 
     WHITE_LIST = #{WHITE_LIST}, 
     PORT_FASTEN = #{PORT_FASTEN}, 
     USB_DISABLE = #{USB_DISABLE}, 
     FILEEXCHANGE_DISABLE = #{FILEEXCHANGE_DISABLE}, 
     C_FOMAT = #{C_FOMAT}, 
     C_RESTORY = #{C_RESTORY}, 
     GC_CLEAR = #{GC_CLEAR}, 
     NO_EXCEL = #{NO_EXCEL}, 
     REMARK = #{REMARK},
     ENTRY_DATE=#{ENTRY_DATE}, 
     EXIT_DATE=#{EXIT_DATE},
     CHECK_TYPE=#{CHECK_TYPE}
     where 
     CHECK_ID= #{CHECK_ID} 
    </update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			CHECK_ID= #{CHECK_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 and PC_ID= #{pd.PC_ID} and FLAG='0'
		<if test="pd.CHECK_ID!= null and pd.CHECK_ID != ''"><!-- 检索 -->
		and CHECK_ID = #{pd.CHECK_ID}
		</if>
		<if test="pd.ENTRY_DATE!= null and pd.ENTRY_DATE != ''">
		and ENTRY_DATE = #{pd.ENTRY_DATE} 
		</if>
		<if test="pd.EXIT_DATE!= null and pd.EXIT_DATE != ''">
		and EXIT_DATE = #{pd.EXIT_DATE}  
		</if>
		order by ENTRY_DATE DESC
	</select>
	
	
	<!-- 查询全部 -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where FLAG='0'
	</select>
	
	
	
	
	<!-- 根据pc_id查询check信息 -->
    <select id="find_PC" parameterType="pd" resultType="pd">
     select 
    <include refid="Field"></include>
		from 
	<include refid="tableName"></include>
        where PC_ID= #{PC_ID} and FLAG='0'
    </select>


	<!-- 根据pc_id查询check信息 -->
    <select id="findTime" parameterType="pd" resultType="pd">
     select 
    <include refid="Field"></include>
		from 
	<include refid="tableName"></include>
        where PC_ID= #{PC_ID} and CHECK_TYPE="-1" and FLAG='0'
    </select>
    
    <!-- 根据pc_id查询check信息 -->
    <select id="findTimetwo" parameterType="pd" resultType="pd">
     select 
    <include refid="Field"></include>
		from 
	<include refid="tableName"></include>
        where PC_ID= #{PC_ID} and CHECK_TYPE="1" and FLAG='0'
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
    delete from 
    <include refid="tableName"/>
    where CHECK_ID in 
    <foreach close=")" separator="," open="(" collection="array" index="index" item="item"> #{item} </foreach>
    </delete>
	
</mapper>